.container {
  margin-top: 22px;
  width: 100%;
}

.postContainer {
  background-color: white;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.postHeader {
  display: block;
  padding-top: 13px;
  padding-left: 16px;
  display: flex;
}

.photo {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}

.userName {
  font-size: 15px;
  font-weight: 500;
}

.postDate {
  font-size: 12px;
  font-weight: 400;
}

.postDesc {
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 16px;
}

.postImg {
  max-height: 650px;
  height: auto;
  width: auto;
  margin: 0 auto;
}

.postResponseTop {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 18px;
}

.postLeftTop {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.thumbsup {
  height: 25px;
  width: 25px;
  z-index: 999;
}

.heart {
  margin-left: -7px;
  height: 21px;
  width: 21px;
  z-index: 99;
}

.likeNames {
  color: #65676b;
  font-size: 15px;
  margin-left: 7px;
}

.postRighTop {
  color: #65676b;
  font-size: 15px;
  margin-right: 18px;
}

.postResponseBottom {
  display: flex;
  align-content: center;
  justify-content: space-between;
  color: #65676b;
  margin-top: 9px;
  padding-bottom: 11px;
  margin-left: 95px;
  margin-right: 95px;
  font-weight: 500;
  font-size: 15px;
}
.postResponseBottom svg {
  height: 18px;
  width: 18px;
  fill: #65676b;
  margin-right: 8px;
}
.postResponseBottom button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.postComment {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.currentUserPhoto {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  margin-left: 16px;
  margin-top: 12px;
  display: inline-block;
}

.previousComments {
  display: flex;
  flex-direction: column;
}

.currentUserInput {
  padding-left: 30px;
  font-size: 14px;
  z-index: 999;
  background-color: #f0f2f5;
  width: 88.5%;
  padding-right: 10px;
  height: 40px;
  margin-top: 13px;
  border-radius: 20px;
}

.commentPhoto {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  margin-left: 16px;
  margin-top: 12px;
  display: inline-block;
}

.commentContainer {
  position: relative;
  background-color: #f0f2f5;
  min-height: 50px;
  min-width: auto;
  /* width: 88.5%; */
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  padding-left: 26px;
  padding-right: 26px;
  margin-left: 7px;
  // margin-top: 10px;
  margin-bottom: 20px;
}

.commentName {
  padding-top: 5px;
  font-size: 13px;
  font-weight: 600;
}

.commentDescription {
  font-size: 14px;
}

.wholeCommentContainer {
  display: flex;
}

.commentLike {
  padding: 1px;
  position: absolute;
  right: 5px;
  bottom: -10px;
  display: flex;
  align-items: center;
  background-color: white;
  height: 20px;
  min-width: 50px;
  max-width: 55px;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  span {
    font-size: 14px;
    padding-left: 4px;

    // padding-bottom: px;
    color: #65676b;
  }
}

.thumbsupp {
  height: 21px;
  width: 21px;
  z-index: 999;
}

.heartt {
  margin-left: -5.9px;
  height: 18px;
  width: 18px;
  z-index: 9;
}

.likedButton {
  color: #1877f2;
  fill: #1877f2;
  font-weight: 700;

  svg {
    color: #1877f2;
    fill: #1877f2;
  }
}

@media (max-width: 750px) {
  .thumbsup {
    height: 25px;
    width: 25px;
    z-index: 9;
  }

  .postResponseBottom button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }

  .postResponseBottom {
    display: flex;
    align-content: center;
    justify-content: space-between;
    color: #65676b;
    margin-top: 9px;
    padding-bottom: 11px;
    margin-left: 75px;
    margin-right: 95px;
    font-weight: 500;
    font-size: 15px;
  }
}
@media (max-width: 650px) {
  .postResponseBottom button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }

  .postResponseBottom {
    display: flex;
    align-content: center;
    justify-content: space-between;
    color: #65676b;
    margin-top: 9px;
    padding-bottom: 11px;
    margin-left: 45px;
    margin-right: 95px;
    font-weight: 500;
    font-size: 15px;
  }
}
