.container {
  display: flex;
  width: 685px;
  // background-color: red;
  margin-top: 25px;
  margin-bottom: 22px;
  // overflow: hidden;
}

.storyAdd {
  border-radius: 8px;
  background-color: white;
  width: 128px;
  height: 233px;
  margin-right: 9.5px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  span {
    font-weight: 600;
    display: inline-block;
    font-size: 13px;
    padding-top: 16px;
    padding-left: 28px;
  }

  img {
    border-radius: 8px;
    width: 128px;
    height: 182px;
    background-size: cover;
  }
}

.image {
  // width: 128px;
  position: relative;
}

.image:first-child::after {
  height: 182px;
  // width: 128px;
}

.image::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), transparent);
  border-radius: 8px;
}

.storyBox {
  // border-radius: 8px;
  background-color: white;

  width: 128px;
  height: 233px;
  margin-right: 9.5px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.bigcircle {
  z-index: 99;
  position: absolute;
  right: 41.6px;
  bottom: 30px;
  color: white;
  fill: white;
  width: 40px;
  height: 40px;
  z-index: 99;
}

.button {
  position: absolute;
  right: 45px;
  bottom: 34px;
  color: #1877f2;
  fill: #1877f2;
  width: 33px;
  height: 33px;
  z-index: 99;
}

.image {
  border-radius: 8px;
}

.storyImage {
  border-radius: 8px;
  object-fit: cover;
  height: 233px;
}

.storyName {
  display: flex;
  justify-content: center;
  position: absolute;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: white;
  // padding-bottom: -20px;
  z-index: 999;
  left: 0;
  right: 70px;
  top: 208px;
  // margin: auto;
}

@media (max-width: 850px) {
  .container {
    display: flex;
    width: 100%;
    // background-color: red;
    margin-top: 25px;
    margin-bottom: 22px;
    // overflow: hidden;
  }
}

@media (max-width: 750px) {
  .bigcircle {
    z-index: 99;
    position: absolute;
    right: 21.6px;
    bottom: 30px;
    color: white;
    fill: white;
    width: 40px;
    height: 40px;
    z-index: 99;
  }

  .button {
    position: absolute;
    right: 25px;
    bottom: 34px;
    color: #1877f2;
    fill: #1877f2;
    width: 33px;
    height: 33px;
  }

  .storyName {
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: white;
    // padding-bottom: -20px;
    z-index: 999;
    left: 0;
    right: 40px;
    top: 208px;
    // margin: auto;
  }
}
